.imagen_grande{
    width: 90%;    
    height: 200px;
}

.imagenes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.imagen_chica{
    width: 40%;
    height: 90px;
}