.botones_sitio{
}

.boton_comentarios, .boton_informacion, .boton_reseñar{
    border-radius: 0px;
    width: 20%;
    font-size: large;
    color: #118EDF;
    border: 1px solid #1D83D1;
    padding: 5px;
}

.boton_comentarios:hover, .boton_informacion:hover, .boton_reseñar:hover,
.boton_comentarios:active,.boton_informacion:active, .boton_reseñar:active{
    background-color: #ADD1EC;
}

.boton_reseñar{
    position: absolute;
    right: 0px;
    top: 20px;
}