* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reseña_datos{
    display: flex;
    position: relative;
    float: right;    
    width: 100%;
    right: 0px;
}

.fecha{
    display: flex;
    position: absolute;
    right: 0px;
}

textarea{
    width: 100%;
    height: auto;
    resize: none;
}

.parte_grande{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

.parte_chica{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imagen_grande2{
    width: 100%;    
    height: 100%;
}

.tipo{
    text-align: left;
}
.parte_chica .calificacion_usuarios{
    text-align: right;
    width: 100%;
    float: right;
}