.bot{
    width: 23%;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.actualizar{
    background-color: #B5DEFC;
    color: #4691FE;
    border: 1px solid #4691FE;
    border-radius: 10px;
    width: 100%;
    text-decoration:none;
}

.eliminar{
    background-color: #F8C0BF;
    border: 1px solid #FE4946;
    color: #FE4946;
    border-radius: 10px;
    width: 110%;
    text-decoration:none;
}

.correo{
    width: 30%;
}